DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. DDL is focused on the schema and organization of the data rather than manipulating the data itself.

Here's an explanation of some common DDL statements and their usage with examples:

1. **CREATE**:
   The CREATE statement is used to create new database objects, such as tables, indexes, and views.

   Example - Creating a Table:
   
   CREATE TABLE Employees (
       EmployeeID INT PRIMARY KEY,
       FirstName VARCHAR(50),
       LastName VARCHAR(50),
       DepartmentID INT
   );
   ```

2. **DROP**:
   The DROP statement is used to delete existing database objects, such as tables, indexes, and views. This action removes the object and its associated data from the database.

   Example - Dropping a Table:
  
   DROP TABLE Employees;
   ```

3. **ALTER**:
   The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

   Example - Adding a Column:
   
   ALTER TABLE Employees
   ADD Email VARCHAR(100);
   ```

4. **TRUNCATE**:
   The TRUNCATE statement is used to quickly delete all rows from a table, effectively removing all data while keeping the table structure intact. It's faster than using the DELETE statement, as it doesn't log individual row deletions.

   Example - Truncating a Table:
 
   TRUNCATE TABLE Employees;
   ```

In the examples above:

- The **CREATE TABLE** statement creates a new table named "Employees" with columns for EmployeeID, FirstName, LastName, and DepartmentID.
- The **DROP TABLE** statement removes the "Employees" table and all its data from the database.
- The **ALTER TABLE** statement adds a new "Email" column to the "Employees" table.
- The **TRUNCATE TABLE** statement removes all data from the "Employees" table while keeping its structure intact.

These DDL statements play a crucial role in defining and managing the database schema, which is essential for organizing and maintaining data efficiently. It's important to use DDL statements carefully, as they can have a significant impact on the database structure and data integrity.